@page "/"

<PageTitle>Index</PageTitle>

<h1>Tienda De Frutas</h1>

Bienvenido a mi tienda de frutas!

<h2>Esta app maneja 3 tablas, uno de personas que son los clientes que van a hacer pedidos, la otra son los pedidos que tienen una relacion con los clientes, y los productos que tienen una relacion con los pedidos.</h2>